* {
  list-style-type: none;
  box-sizing: border-box;
}

:root {
  /** Nipto Brand Colors**/
  /* Primary Colors */
  --deep-slate: #1F2833;
  --cool-blue: #215E99;
  --rich-plum: #501549;
  --warm-orange: #E97132;
  --soft-gray: #C5C6C7;

  /* Secondary Colors */
  --muted-steel-blue: #A3BFD9;
  --earthy-teracotta: #D88C65;
  --dusty-mauve: #6B3A5E;
  --midtone-gray: #9FA1A3;
  --calm-green: #5FAF5E;

  /* Tertiary Colors */
  --creamy-blush: #F4E3D3;
  --pale-cyan: #B8E2F2;
  --light-gray: #EDEDED;
  --charcoal-plum: #2C1B2E;
  --soft-gold: #F9D57E;
  
/*--------- */
  --granite: #0B0C10;
  --steel-blue:	#1F2833;
  --futuristic-aqua:	#66FCF1;
  --gentle-silver:	#C5C6C7;
  
/** BRAND COLOURS **/
  --logo-text-color: #C0C0C0;
  --nav-bar: #1F2833;
  --nav-text: #C5C6C7;
  --bg: #FFFFFF;
}

/* Body Styling */
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 2rem;
  color: #1F2833;
}
 
/* Global Text styling*/
h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Figtree', sans-serif;
}

/** HEADER STYLING **/
header {
  background: var(--cool-blue);
}

#header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  z-index: 99;
  background-color: var(--cool-blue);
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100px;
}

.heading {
  font-size: 5rem;
  font-family: Michroma, san-serif;
  text-align: center;
  color: var(--granite);
  padding: 0;
  margin: 0;
}

.nav-list {
  display: grid;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  grid-template-columns: 4fr 2fr 2fr 2fr 2fr 4fr;
  grid-template-areas: "nav home about projects styles nav";
}

.navicons {
  height: 1.8rem;
}

.home {
  grid-area: home;
  grid-column: 2;
}

.about {
  grid-area: about;
  grid-column: 3;
}

.projects {
  grid-area: projects;
  grid-column: 4;
}

.style-guide {
  grid-area: styles;
  grid-column: 5;
}

.nav-items {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-items a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--soft-gray);
  font-family: "Noto Sans", san-serif;
  background: var(--charcoal-plum);
  border-radius: 15px;
}

.nav-items a:hover {
  color: var(--nav-text);
  background: var(--soft-gold);
  transform: scale(1.2);
  border-radius: 15px;
}

#welcome-section {
  position: relative;
  height: 100vh;
  background: transparent;
  margin: 1vw;
  background-color: transparent;
}

#bio {
  position: relative;
  background: transparent;
  margin: 1vw;
  border: 3px solid var(--logo-text-color);
  border-radius: 1em 1em 1em 1em;
  padding-bottom: 40px;
  position: relative;
}

#projects {
  background: transparent;
  position: relative;
  border-radius: 1em 1em 1em 1em;
  padding-bottom: 40px;
  border: 3px solid var(--logo-text-color);
  margin: 1vw;
}



.nav-sections {
  padding-top: calc(3em + 1rem);
}

h2, h3, h4, p, a {
  font-family: "Nunito sans", sans-serif;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h2, h3, h4, p {
  color: var(--granite);
}

.bio-text {
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 1.2rem;
}

.inline-name1 {
  font-family: Michroma, san-serif;
}

.inline-name2 {
  font-family: "Nova Square", san-serif;
}

.heading-animation {
  display: inline-block;
  height: 25%;
  width: 5%;
  border: 3px solid;
  background-color: black;
  padding-left: 25px;
  line-height: 25%;
  transform-origin: center;
  animation: spinner 5s linear infinite;
}

.sub-heading {
  text-align: center;
  font-size: 1.4rem;
  padding-bottom: 25px;
}

.social {
  text-align: center;
  padding-bottom: 25px;
}

.section-header {
  font-size: 2.5rem;
}

.sub-section-header {
  font-size: 1.8rem;
  padding-top: 10px;
  padding-bottom: 15px;
}

.small-text {
  position: absolute;
  font-family: Consolas, sans-serif;
  font-size: 15px;
  text-align: center;
  bottom: 64px;
  right: 37px;
}

.project-tiles {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.project-tile {
  position: relative;
  height: 25vw;
  width: 25vw;
  min-height: 14rem;
  min-width: 14rem;
  background-color: var(--gentle-silver);
  border-radius: 15px 15px 3.5em 3.5em;
}

.launch-button {
  position: absolute;
  width: 100%;
  height: 20%;
  border-radius: 1.5em;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(circle closest-corner at center, var(--granite), var(--nav-bar));
  /** radial-gradient(shape size at position, color-stop1, color-stop2, ...); **/
  color: var(--nav-text);
  font-family: Consolas, sans-serif;
  font-size: 1.5rem;
  box-shadow: 0.2rem 0.2rem var(--steel-blue);
  border: none;
}

.tile-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  border-radius: 15px 15px 0 0;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  font-family: "Nova Square", sans-serif;
  background-color: var(--logo-text-color);
  color: var(--nav-bar);
  padding-top: 5%;
}

.css-image {
  display: block;
  height: 60%;
  margin-right: auto;
  margin-left: auto;
}

.footer-container {
  display: flex;
  align-items: top;
  font-family: "Nunito Sans", Sans-Serif;
  text-align: left;
  background: var(--cool-blue);
  justify-content: center;
}

.footer-logo {
  height: 50px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  border: 1px solid;
}

.nav-list-footer {
  text-align: left;
  padding: 0;
  margin: 0;
}

footer {
  background: var(--cool-blue);
}

.copy-text {
  text-align: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0B0C10;
    --granite: #FFFFFF;
    --nav-bar: #C5C6C7;
    --nav-text: #1F2833;
    --futuristic-aqua: #45E0D1;
  }
  
  .launch-button {
    background-image: radial-gradient(circle closest-corner at center, var(--nav-bar), var(--nav-text));
    color: var(--granite);
    box-shadow: 0.2rem 0.2rem var(--futuristic-aqua);
  }
  
  .tile-header {
    color: var(--nav-text);
  }
}

@media screen and (max-width: 767px) {
  * {
    flex-direction: column;
  }

  .heading {
    font-size: 2.5rem;
    font-family: Michroma, san-serif;
    padding: 10px;
  }

  .section-header {
    font-size: 2.0rem;
  }

  .sub-section-header {
    font-size: 1.3rem;
  }

  .project-tile {
    position: relative;
    height: 18rem;
    width: 18rem;
    border-radius: 15px 15px 3.5em 3.5em;
    align-items: center;
  }

  .project-tiles {
    display: flex;
    gap: 15px;
    padding: 15px;
    align-items: center;
  }
  .sub-heading {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 10px;
  }

  .social {
    text-align: center;
    padding-bottom: 10px;
    font-size: 1rem;
  }

  .tile-header {
    padding-top: 5%;
  }
  
  .nav-items {
    font-size: 1.5rem;
  }
}
