<footer>
    <div class="footer-container">
        <img alt="nipto logo" src="/public/logos/nipto-logo.png" class="footer-logo" />
        <div class="footer-list">
            <p class='footer-list-header'>Navigation</p>
            <nav class="nav">
                <ul class="nav-list-footer">
                    <li class="footer-items">
                        <a href="/src/index.html">
                            Home
                        </a>
                    </li>
                    <li class="footer-items about"><a href="header.html">About</a></li>
                    <li class="footer-items projects"><a href="./pages/projects">Projects</a></li>
                    <li class="footer-items style-guide"><a href="./pages/branding.html">Brand</a></li>
                </ul>
            </nav>
        </div>
    </div>
        <div id="copyright">
        <p class="copy-text">
            <span class="logo-text">nipto</span> &copy; Copyright <span class="footer-year"></span>
        </p>
    </div>
</footer>
